alabaster==0.7.12
Babel==2.6.0
-e git+git@github.com:BeamNG/BeamNGpy.git@ffe509bc21cab0a9116f4c41789c4e9f3ba91beb#egg=beamngpy
better-exceptions==0.2.1
bleach==3.0.2
certifi==2018.10.15
chardet==3.0.4
Click==7.0
docutils==0.14
idna==2.7
imagesize==1.1.0
Jinja2==2.10
MarkupSafe==1.0
msgpack-python==0.5.6
numpy==1.15.2
packaging==18.0
Pillow==5.3.0
pkginfo==1.4.2
Pygments==2.3.0
PyOpenGL==3.1.0
pyparsing==2.3.0
PyScaffold==3.1
pytz==2018.7
readme-renderer==24.0
requests==2.20.1
requests-toolbelt==0.8.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
tqdm==4.28.1
twine==1.12.1
urllib3==1.24.1
webencodings==0.5.1
